<a href="https://colab.research.google.com/github/DhruvNagwal/Dhruv-/blob/main/Copy_of_List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Assigning a list
list= [2,4,3,6,8,4,2]

#Printing a List
print(list)

[2, 4, 3, 6, 8, 4, 2]

In [ ]:
#Type of List
type(list)

list

In [ ]:
#Creating a list with string or Characters
list1= ['Dhruv','D Nagwal','Chemistry','M','D','H']

#Printing list1
print(list1)

['Dhruv', 'D Nagwal', 'Chemistry', 'M', 'D', 'H']

In [ ]:
#length of list
print(len(list1))
print(len(list))

6
7

Indexing

In [ ]:
#Printing element at index 2 in list1 and list
print(list1[2])
print(list[2])

Chemistry
3

In [ ]:
#Printing last element in list1 and list
print(list1[-1])
print(list[-1])

H
2

In [ ]:
#printing elements from 1 to 4 index in list
print(list[1:4])

[4, 3, 6]

In [ ]:
#printing elements from 1 to 4 index in list1
print(list1[1:4])

['D Nagwal', 'Chemistry', 'M']

In [ ]:
#Concatinating l1 in list1
l1=['Mona','Lisa']
print(list1+l1)

['Dhruv', 'D Nagwal', 'Chemistry', 'M', 'D', 'H', 'Mona', 'Lisa']

In [ ]:
#reassigning 3rd element of list1 with Mad
list1[3]='Mad'
print(list1)

['Dhruv', 'D Nagwal', 'Chemistry', 'Mad', 'D', 'H']

In [ ]:
#reassigning 4th element of list with 76
list[4]=76
print(list)

[2, 4, 3, 6, 76, 4, 2]

List Functions

1. Len()

In [ ]:
#Printing length of list
len(list)

7

2. Min()

In [ ]:
#Printing Minimum number in list
min(list)

2

3. Max()

In [ ]:
#Printing Maximum number in list
max(list)

76

4.Sum

In [ ]:
#Printing Sum of all Elements in list
sum(list)

97

5. Sorted

In [ ]:
#Printing Sorted list in ascending order
sorted(list)

[2, 2, 3, 4, 4, 6, 76]

In [ ]:
#Printing sorted list1 in ascending order
sorted(list1)

['Chemistry', 'D', 'D Nagwal', 'Dhruv', 'H', 'Mad']

In [ ]:
#Printing Sorted list in decending order
sorted(list,reverse=True)

[76, 6, 4, 4, 3, 2, 2]

In [ ]:
#Printing Sorted list1 in decending order
sorted(list1,reverse=True)

['Mad', 'H', 'Dhruv', 'D Nagwal', 'D', 'Chemistry']

6. Append

In [ ]:
#appending list
list.append(88)
list.append(100)
print(list)

[2, 2, 3, 4, 4, 6, 76, 88, 100]

In [ ]:
#appending list1
print(list1)
list1.append("Hello")
list1.append("Hii")
print(list1)

['Dhruv', 'D Nagwal', 'Chemistry', 'Mad', 'D', 'H']
['Dhruv', 'D Nagwal', 'Chemistry', 'Mad', 'D', 'H', 'Hello', 'Hii']

7. Extend

In [ ]:
#appending a l2 in list
l2=[2,4]
list.extend(l2)
print(list)

[2, 2, 3, 4, 4, 6, 76, 88, 100, 2, 4]

8. Pop()

In [ ]:
#poping last element from list
list.pop(-1)
print(list)

[2, 2, 3, 4, 4, 6, 76, 88, 100, 2]

In [ ]:
#poping 3rd element from list
list.pop(3)
print(list)

[2, 2, 3, 4, 6, 76, 88, 100, 2]

9. Remove()

In [ ]:
#removing element by their values
list.remove(88)
print(list)

[2, 2, 3, 4, 6, 76, 100, 2]

10. Count()

In [ ]:
#counting number of times an element occur in list
list.count(2)

3

11. Sort()

In [ ]:
#printing sorted list
list.sort()
print(list)

[2, 2, 2, 3, 4, 6, 76, 100]

In [ ]:
#printing sorted list in descending order
list.sort(reverse=True)
print(list)

[100, 76, 6, 4, 3, 2, 2, 2]

Nested List

In [ ]:
#initialising a nested list
nlist=[1,2,[34,56],8]

In [ ]:
#Printing nested list
print(nlist)

[1, 2, [34, 56], 8]

In [ ]:
#printing 2nd element from 3rd element
print(nlist[2][1])

56