<a href="https://colab.research.google.com/github/DhruvNagwal/Dhruv-/blob/main/list_comprehension.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#List of numbers
ln=[1,2,4,6,3,7,5]

In [3]:
#printing a list(sqlist) in which square of each number in ln will be saved using for loop
ln=[1,2,4,6,3,7,5]
sqlist=[]
for num in ln:
  sqlist.append(num**2)

print(sqlist)

[1, 4, 16, 36, 9, 49, 25]

In [4]:
#printing a list(sqlist) in which square of each number in ln will be saved using comprehension
ln=[1,2,4,6,3,7,5]
sqlist=[]
sqlist=[num**2 for num in ln]
print(sqlist)

[1, 4, 16, 36, 9, 49, 25]

In [5]:
#printing a list(sqlist) in which square of each even number in ln will be saved using comprehension
ln=[1,2,4,6,3,7,5]
sqlist=[]
sqlist=[num**2 for num in ln if num%2==0]
print(sqlist)

[4, 16, 36]

In [6]:
#printing a list(sqlist) in which square of each odd number in ln will be saved using comprehension
ln=[1,2,4,6,3,7,5]
sqlist=[]
sqlist=[num**2 for num in ln if num%2!=0]
print(sqlist)

[1, 9, 49, 25]

In [7]:
#writing a nested loop
number=[]
for num in range(4):
  for num1 in range(3):
    print(num,num1)
    number.append(num1)
print(number)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2
[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [9]:
#Now writing same code using comprehension
number=[num for num1 in range(4) for num in range(3)]
print(number)

[0, 1, 2, 0, 1, 2, 0, 1, 2, 0, 1, 2]

In [10]:
hisenberg_quote='''It ceases to exist without me.No, you clearly don't know who you're
talking to, so let me clue you in.I am not in danger'''
words=hisenberg_quote.split(' ')
print(words)

['It', 'ceases', 'to', 'exist', 'without', 'me.No,', 'you', 'clearly', "don't", 'know', 'who', "you're", '\ntalking', 'to,', 'so', 'let', 'me', 'clue', 'you', 'in.I', 'am', 'not', 'in', 'danger']

In [11]:
#printing all words but removing t from every word
words_split=hisenberg_quote.split('t')
print(words_split)

['I', ' ceases ', 'o exis', ' wi', 'hou', " me.No, you clearly don'", " know who you're \n", 'alking ', 'o, so le', ' me clue you in.I am no', ' in danger']

In [13]:
#let store the first letter of every word in u
u=[]
for w in words:
  u.append(w[0])
print(u)

['I', 'c', 't', 'e', 'w', 'm', 'y', 'c', 'd', 'k', 'w', 'y', '\n', 't', 's', 'l', 'm', 'c', 'y', 'i', 'a', 'n', 'i', 'd']