<a href="https://colab.research.google.com/github/DhruvNagwal/Dhruv-/blob/main/Tuple%2CSets_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TUPLES

In [1]:
#Creating a Tuple
tup=(2,4,5,'b',34,2.23,'dhruv')

print(tup)

(2, 4, 5, 'b', 34, 2.23, 'dhruv')

In [2]:
#printing type of tuple
type(tup)

tuple

In [3]:
#Creating a tuple with single element
tupl=(2,)
print(tupl)
type(tupl)

(2,)

tuple

In [4]:
#printing length of tuple tup
len(tup)

7

Indexing in Tuple

In [5]:
#Printing First element of tuple tup
print(tup[0])

2

In [6]:
#Printing third element of tuple tup
print(tup[2])

5

In [7]:
#Printing Fifth element of tuple tup
print(tup[5])

2.23

In [8]:
#Printing last element of tuple tup
print(tup[-1])

dhruv

In [9]:
#printing elements from 3rd position to 5th position
print(tup[3:6])

('b', 34, 2.23)

Tuple Functions

In [10]:
#printing count of any number of character in tuple
tuple=(2,3,6,2,7,2,89,0,7)
print(tuple.count(2))

3

#SETS

In [12]:
#initialising an empty set
emptyset=set()

#printing type of emptyset
type(emptyset)

set

In [13]:
#creating a non=empty set
set={1,2,'dhruv','dh',34,7,54}

#printing non empty set
print(set)

{1, 2, 34, 54, 7, 'dhruv', 'dh'}

In [14]:
#printing type of set
type(set)

set

Set functions

1.Add()

In [15]:
#Adding element in set
set.add('a')
print(set)

{1, 2, 7, 'dhruv', 31, 34, 'dh', 54, 'a'}

2. Update()

In [16]:
set.update([23,'December',12])
print(set)

{1, 2, 7, 12, 'December', 23, 'dhruv', 31, 34, 'dh', 54, 'a'}

3. Remove()

In [17]:
set.remove('December')
set.remove(31)
print(set)

{1, 2, 7, 12, 23, 'dhruv', 34, 'dh', 54, 'a'}

4. Union()

In [19]:
A={1,2,3,4}
B={5,6,7,8}
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

5. Intersection

In [20]:
A={1,2,3,4}
B={3,1,7,8}
A.intersection(B)

{1, 3}

6. Difference

In [21]:
#A-B
A.difference(B)

{2, 4}

#DICTIONARY

In [22]:
#Initialising a dictionary
dict={'Roll No.':1111,'Name':'Dhruv','Course':'BSc Chemistry'}

print(dict)

{'Roll No.': 1111, 'Name': 'Dhruv', 'Course': 'BSc Chemistry'}

In [23]:
#Printing keys
dict.keys()

dict_keys(['Roll No.', 'Name', 'Course'])

In [24]:
#Printing Values
dict.values()

dict_values([1111, 'Dhruv', 'BSc Chemistry'])

In [25]:
#Printing keys and their values in list
list(dict.items())

[('Roll No.', 1111), ('Name', 'Dhruv'), ('Course', 'BSc Chemistry')]

In [26]:
#print corresponding values according to key
dict.get('Name')

'Dhruv'

In [28]:
#Removing key:value
dict.pop('Course')
print(dict)

{'Roll No.': 1111, 'Name': 'Dhruv'}